.sidebar{
    padding-left: 2vw;
    width: fit-content;
    min-height: 93vh;
    background-color: #0F0F0F;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.5s;
}
.sidebar.active{
    left: 0;
}

.sd-body{
    display: flex;
    flex-direction: column;
}

svg, img{
    cursor: pointer;
    margin: 25% 0;
}

